{% macro education() %}
<div class="text-center">
  <div class="user-education">
    <h1>My Education</h1>
    <p>{{ config.extra.user_education }}</p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <a href="https://duke.edu" target="_blank">
      <img src="img/dukeuni.png" width="200" height="200">
    </a>
    <p>Class of 2024<br>Electronic & Computer Engineering</p>
  </div>

  <div class="tech">
    <a href="https://www.xjtlu.edu.cn/en" target="_blank">
      <img src="img/xjtlulogo.png" width="200" height="200">
    </a>
    <p><strong>Class of 2022</strong> <br>Information & Computing Science </p>
  </div>

  <div class="tech">
    <a href="https://en.wikipedia.org/wiki/Zhixin_High_School" target="_blank">
      <img src="img/zhixin.png" width="200" height="200">
    </a>

    <p>Class or 2018<br>Major in Comprehensive Science</p>
  </div>
</div>

{% endmacro education %}

{% macro about() %}
 <div class="user-details">
  <h1> My Experience </h1>
  <p> {{ config.extra.user_expertise }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <!-- <i class="devicon-java-plain colored"></i> -->
      <p>After years of study, I've used multiple programming languages. Swift, Python and C++ are 
        the languages that I'm currently using.
      </p>
    </div>

    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored" width="70" height="70"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>The previous teamwork experience helped me to get used to working with tools like Git in Linux environment.</p>
    </div>

    <div class="tech">
      <h2>Design</h2>
      <img src="img/pr.png" width="70" height="70"></i>
      <img src="img/lr.png" width="70" height="70"></i>
      <img src="img/ps.png" width="70" height="70"s></i>
      <p>I'm a photographer and video producer. I also love to use adobe tools to further enhance the user experience
         of UI.</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="keyboard" src="img/fyp.jpg">
  </div>
  <div class="contents">
    <h3> IntelliKeys </h3>
    <p>Keywords: VR, Unity, C#, HCI</p>
    <p>This was my research project, aiming at creating an innovative text input method to improve the typing efficiency
       and accuracy under VR environment.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="img/coffee.jpg" />
  </div>
  <div class="contents-right">
    <h3> Coffee </h3>
    <p>Keywords: Phtotgraphing</p>
    <p>I really enjoy taking photos with my beloved Sony A6300. Every pixel of the photo spreads the joy of aesthet.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
{% endmacro projects %}

