{% import "macros.html" as macros %}
{% import "content.html" as content %}

<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>

      {{ macros::header() }}

      <section id="education">
        {{ content::education() }}
      </section>

      <section id="about">
        {{ content::about() }}
      </section>

      <section id="projects">
        {{ content::projects() }}
      </section>

      {% block content %}
      <p></p>
      {% endblock content %}


      {{ macros::footer() }}
      {{ macros::google_analytics() }}

  </body>
